.card {
  text-shadow: 2px 2px black;
}

.card-body {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.card-info{
  position: relative;
  bottom: -80%;
  color: white
}

#animated-card-item .card-body {
  background-image: url('../images/animated-cards.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.open-data-url {
  cursor: pointer;
}

.open-data-url:hover {
  opacity: 0.5;
}