* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab';
  font-size: 22px;
}

body {
  display: flex;
  flex-direction: row;
}

nav {
  height: 100vh;
  width: 15rem;
  z-index: 1;
  background-color: #023047 !important;
}

nav li a {
  text-decoration: none;
  font-weight: 600;
  padding: 1rem;
  color: #8ECAE6;
}

nav li a:hover {
  text-decoration: none;
  color: #FFB703
}

nav li {
  padding: 1rem;
}

main {
  max-height: 100vh;
  overflow: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  scroll-behavior: smooth;
  overflow: hidden !important;
}

section {
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

.centered-section {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}

nav.active {
  left: 15rem;
}

.toggle-nav-btn {
  display: none !important;
}

@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }

  nav {
    height: 3rem;
    width: 100%;
    position: fixed;
    top: 0;
  }

  #nav-content {
    left: -100%;
    position: fixed !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #023047 !important;
    top: 0;
    transition: all .2s linear;
    height: 100vh;
    width: 100%;
    z-index: 1000;
  }

  section {
    min-height: calc(100vh - 65px - 2rem);
  }

  main {
    max-height: calc(100vh - 65px - 2rem);
    overflow: auto !important;
  }

  #nav-content.active {
    left: 0;
  }

  .toggle-nav-btn {
    display: initial !important;
  }

  #nav-close-btn {
    top: 0;
    width: 20%;
  }
}